@import url("styles.css");

.back-content-genre {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#treemap-page {
    width: 100%;
    height: 90%;
    position: relative;
    min-height: 250px;
}

#treemap-page text {
  font-family: "Inter", sans-serif; 
  font-size: 8px;
  fill: var(--text-secondary);
}

.tooltip {
  position: absolute;
  background: var(--tooltips);
  color: var(--secondary);
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s ease-out;
  white-space: nowrap;
  z-index: 99; 
}

.styled-dropdown {
  padding: .5rem .5rem;
  font-size: 12px;
  font-family: "Playfair", serif;
  border: 1px solid var(--secondary);
  border-radius: 6px;
  background-color: var(--tooltips);
  color: var(--text-main);
  cursor: pointer;
}

.styled-dropdown:hover {
  border-color: #aaa;
}

.styled-dropdown:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 4px (--accent);
}