
* {
    box-sizing: border-box;
}

html {
    margin:0;
    padding:0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FEFEE3;
    
}

/* .background-container {
    background-image: url('images/Homescreen.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
} */

.background-container svg {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.button-book {

}

.button-book:hover, .button-book:focus, .button-book:active {
    .page-colour {
        fill:aliceblue;
    }
    .cover-colour {
        fill:blue;
    }
}