/*main styling -- add you colors here and import this css into file*/

:root {
  --primary: #2C6E49;
  --secondary: #8CA396;
  --accent: #FFC9B9;
  --background: #FEFEE3;
  --tooltips: white;
  --page-background: #F8F5F0;
  --text-main: #2C6E49;
  --text-secondary: #353535;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: powderblue;
} */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: sans-serif;
    background-color: var(--background);
}

.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 0.5rem; */
}

.button-container button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0.2rem;
}

.book {
    position: relative;

    /*Responsive width, with a safe max so it doesn’t get huge*/
    width: min(80vw, 35rem);

    /*Maintain page aspect ratio (1.414 = A4 ratio, looks book-like)*/
    height: calc(min(80vw, 30rem) * 1.2);

    margin: 0 auto;
    transform-style: preserve-3d;

    margin-bottom: 1rem;
}

/*Each paper fills the book fully*/
.paper {
    position: absolute;
    width: 90%;
    height: 100%;
    inset: 0;
    perspective: 1500px;
}

/*Front & Back of each paper*/
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--page-background);
    top: 0;
    left: 0;

    transform-origin: left;
    transition: transform 0.5s;
}

/*readable border regardless of scaling*/
.front {
    border-left: 0.25rem solid var(--primary);
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-right: 15px solid var(--primary);
    border-left: 3px solid var(--primary);

}

/*Back faces*/
.back {
    transform-origin: left;
    border-left: 15px solid var(--primary);
    border-right: 3px solid var(--primary);
}

.back, .front {
    border-top: 15px solid var(--primary);
    border-bottom: 15px solid var(--primary);
}

.back-content {
    transform: rotateY(180deg);
}

/*Flip animation*/
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/*Stack order*/
#p1 { z-index: 3; }
#p2 { z-index: 2; }
#p3 { z-index: 1; }

h1, h2, h3, h4, p, label {
    color: var(--text-main);
}
h1, h2, h3, h4{
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

p {
  font-family: "Playfair", serif;
  font-weight: 400;
  font-size: 1rem;
}

label {
    font-family: "Playfair", serif;
    font-weight: 500;
    font-size: 1rem;

}



/* mobile sizing */

.book-mobile {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.page {
    flex: 0 0 100%;
    scroll-snap-align: start;
    text-align: center;
    padding: 20px;
    background-color: lightgray;
    border: 1px solid gray;
}


@media (width <= 48rem) {
    .desktop-size {
        display: none;
    }
}


@media (width > 48rem) {
    .book {
    /*Responsive width, with a safe max so it doesn’t get huge*/
    width: min(80vw, 27rem);

    /*Maintain page aspect ratio (1.414 = A4 ratio, looks book-like)*/
    height: calc(min(80vw, 27rem) * 1.2);

    margin-bottom: 1rem;
    }

    /* don't display mobile book */
    .mobile-size {
        display: none;
    }
}

@media (width > 64rem) {
    .book {
    /*Responsive width, with a safe max so it doesn’t get huge*/
    width: min(80vw, 35rem);

    /*Maintain page aspect ratio (1.414 = A4 ratio, looks book-like)*/
    height: calc(min(80vw, 28rem) * 1.2);
    }

    /* don't display mobile book */
    .mobile-size {
        display: none;
    }
}




