@import url("styles.css");

.styled-dropdown {
  padding: .5rem .5rem;
  font-size: 12px;
  font-family: "Playfair", serif;
  border: 1px solid var(--secondary);
  border-radius: 6px;
  background-color: var(--tooltips);
  color: var(--text-main);
  cursor: pointer;
}

.styled-dropdown:hover {
  border-color: #aaa;
}

.styled-dropdown:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 4px (--accent);
}

#chart {
  position: relative;
   background-color: #f8f4ec;
  padding: 10px;
  border-radius: 8px;
  z-index: 5;
}


#genre-legend {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.legend-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.legend-color-box {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
}

/*button styling for show all genres*/
/*#show-all-btn {
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem;
  cursor: pointer;
  margin-bottom: 8px;
}

#show-all-btn:hover {
  opacity: 0.85;
} /*


#wordcloud_combined {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

#wordcloud-title {
  font-size: 20px;
  margin-bottom: 1rem;
  text-align: center;
}





/* author vis */
.author-content {
    padding: 0.5rem;
}
/* .author-chart {
    padding: 0.5 0.5 1 1;
} /


/ author vis content /
.axis text, 
.tick text, 
svg text {
  font-family: sans-serif !important;
  font-variant-numeric: normal !important;
  font-feature-settings: "tnum" off, "lnum" off !important;
  letter-spacing: normal !important;
}

#legend-container {
    margin-top: 1rem;
    background-color: var(--legend-color);
}

.legend-item text {
    font-family: "Playfair Display", serif;
    fill: var(--text-main);
}

/ .legend-item {

} */

svg text {
  font-family: "Playfair Display", serif;
  fill: var(--text-main);
  font-family: 'Playfair Display', serif !important;
}


.author-tooltip {
  background: var(--legend-color);
  color: var(--text-main);
  border: 1px solid var(--secondary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Playfair Display", serif;
  font-size: 12px;
  pointer-events: none;
  transition: opacity 0.1s ease;
}







